:root {
    --binary-format-font-family: 'Latin Modern Mono', 'Courier New', 'Courier', monospace;
    --binary-format-header-font-size: 0.80rem;
    --binary-format-default-font-size: 0.80rem;
    --binary-format-separator-font-size: 0.70rem;
    --binary-format-bytes-color: #25282d;
    --binary-format-fg-color-hex: rgb(37, 40, 45);
    --binary-format-fg-color-hex-separator: rgb(58, 58, 58);
    --binary-format-fields-indent: 2em;
    --binary-format-header-margin: 1em;
    --binary-format-spacer: 150px;
    --binary-format-spacer-alt: 112px
}

div.binary-format p, div.binary-format span, div.binary-format a {
    font-family: var(--binary-format-font-family);
    font-size: var(--binary-format-default-font-size);
}


.binary-format h5 {
    display: inline-block;
    margin-bottom: 0;
    text-transform: none;
}

.binary-format p {
    margin: 0;
}

.binary-format p span.bytes {
    color: var(--binary-format-bytes-color);
}

.binary-format p span.bytes .sep {
    color: var(--binary-format-fg-color-hex-separator);
    display: inline-block;
    font-weight: normal;
}

.binary-format h5 a {
    font-size: var(--binary-format-header-font-size);
    font-weight: normal;
    text-shadow: 0 0 0.1px var(--md-typeset-a-color);
    display: inline;
}

.binary-format h5 + p {
    display: inline;
}

.binary-format .fields + p {
    margin-left: var(--binary-format-fields-indent);
}

div.type-with-comment, div.field-with-comment, div.type-with-comment-spaced, div.type-with-comment-spaced-alt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 0.4em;
}

div.field-with-comment {
    padding-left: var(--binary-format-fields-indent);
}


div.type-with-comment-spaced {
    padding-left: var(--binary-format-spacer);
}

div.type-with-comment-spaced-alt {
    padding-left: var(--binary-format-spacer-alt);
}


.type-with-comment p {
    margin-top: var(--binary-format-header-margin);
}

.type-with-comment p.endian, .type-with-comment-spaced p.endian, div.field-with-comment p.endian {
    display:flex;
    margin-left: auto;
}


div.type-with-comment h5 > a {
    display: flex;
    width: max-content;
}

div.column-align {
    display: flex;
    flex-direction: column;
    width: 100%
}

div.comment-align {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

div.field-and-comment-row {
    display: flex;
    flex-direction: row;
}


p.comment-top, p.comment {
    display:flex;
    margin-left: auto;
}


div.comment-align p.spaced, div.column-align p.spaced, div.column-align p.spaced-or, div.field-and-comment-row p.spaced-or, div.field-and-comment-row p.comment {
    margin-top: 0;
}

p.spaced-or {
    margin-left: -1em;
}